:root {
    --display-font: 'Special Elite', serif;
    --bg-color: #F0E9E2;
    --error-color: #FF1717;
    --completed-color: #239F0F;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--display-font);
    background-color: var(--bg-color);
}

/* TYPOGRAPHY */

html {
    font-size: 125%;
    text-transform: lowercase;
}

h1 {
    font-size: 1.2rem; 
}

h2 {
    font-size: 1.6rem;
}

nav, button {
    font-size: 1rem;
}

input {
    font-size: 1.3rem;
}

/* BASE STYLES */

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

button {

    padding: 8px 15px 5px 15px;
    border: 1px solid black;
    border-top-width: 0.4px;
    border-left-width: 0.4px;

    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    
    font-family: inherit;
    color: black;

    cursor: pointer;
    
    margin: 10px;
} 

.wrapper {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

form {
    position: relative;
}


input {
    max-width: 300px;
    width: 100%;
    padding: 2.5px 0;
    border: none;
    border-bottom: 1.5px solid black;
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    transition: .1s;
}

input:focus {
    outline: none;
    border-width: 3px;
}

.hide {
    display: none;
}

.errorMessage {
    color: var(--error-color);
}

.largePaper {
    background-image: url(../assets/large-torn-paper.png);
    background-repeat: no-repeat;
    max-width: 920px;
    width: 90%;
    min-height: 550px;
    margin: 0 auto;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 100px;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header li:first-of-type {
    padding-right: 30px;
}

header a:hover::before {
    content: ' * ';
    width: 0;
    position: absolute;
    left: -15px;
}

header a {
    position: relative;
}

/* Credits */

.alix {
    color: #C81B59;
}

.corey {
    color: #087927;
}

.frances {
    color: #803DEE;
}

.matt {
    color: #B74518;
}

.juno {
    color: #EA593E;
}

/* How To */

.largePaperText {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
    line-height: 1.25rem;
}

.largePaper h2 {
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
}

.largePaperText p {
    padding-bottom: 12px;
}

/* Credits */

.credits .largePaperText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits h2 {
    padding-bottom: 100px;
}

/* User Input */

.userInput {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 75px;
    text-align: center;
    /* transition: 2s; */
}

.userInput.slide {
    height: 37px;
    animation: slide .5s;
}

.userInput .errorMessage {
    bottom: -40px;
    width: 100%;
}

@keyframes slide {
    from {
        height: 135px;
    }
    to {
        height: 37px;
    }
}

.smallPaper {
    background-image: url(../assets/torn-paper-1.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 600px;
    width: 90%;
    min-height: 330px;
    margin: 0 auto;
}

.smallPaperText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding: 25px 40px;
}

.smallPaperText p {
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 8px;
}

.smallPaperText span {
    position: absolute;
    top: 5px;
    left: -20px;
}

.wordButtonContainer {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.wordSelect {
    margin-bottom: 100px;
}

.wordSelect .errorMessage {
    margin-top: 20px;   
    text-align: center;
    top: -75px;
    width: 100%;
}

.wordSelectFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
}

.form {
    position: relative;
    width: 100%;
}

.form .errorMessage {
    position: absolute;
}

/* Media Queries */

@media (max-width: 500px) {
    header {
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    h2 {
        max-width: 270px;
        font-size: 1.4rem;
    }

    .userInput {
        margin-top: 60px;
    }

    .smallPaper {
        width: 100%;
    }

    .smallPaperText p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    button {
        font-size: 0.9rem;
    }

    .largePaper {
        width: 100%;
    }

    .largePaperText {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .largePaperText h2 {
        margin: 0 auto;
    }

    .credits .largePaperText {
        text-align: left;
    }
}