
.wrapper {
    max-width: 1240px;
    width: 50%;
    margin: 0 auto;
}

.haikuDisplay {
    /* position: relative; */
    background: url(../assets/torn-paper-1.png) no-repeat center center;
    height: 280px;
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 60px; */
    /* padding: 0 350px; */
}

.haikuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 50px;
    /* position: absolute; */
    /* left: 200px;
    top: 50px; */
}

.haikuContainer p {
    text-align: left;
}

